.header-title{
background-image: url(./images/10-cose-da-sapere-prima-di-acquistare-casa-con-una-agenzia-immobiliare.jpg);
min-height: 50px;
max-height: 250px;
background-size: cover;
background-position: center center;
padding-top: 300px;
text-align: center;
font-size: 80px;
}